{% extends "base.html" %}

{% block app_content %}
<div class="page-header">
    <h1>Standings</h1>
</div>

<h4>Total Calories</h4>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Person</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
            {% for user in standings %}
                <tr>
                    <th scope="row">{{ user["place"] }}</th>
                    <td>{{ user["name"] }}</td>
                    <td>{{ user["calories"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr>
<h4>Single Exercise</h4>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Person</th>
                <th scope="col">Calories</th>
                <th scope="col">Exercise</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in top_exercises %}
                <tr>
                    <th scope="row">{{ exercise["place"] }}</th>
                    <td>{{ exercise["name"] }}</td>
                    <td>{{ exercise["calories"] }}</td>
                    <td>{{ exercise["exercise"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}